body
{
	background:url(guy.jpg);
	background-size: cover;
}
.contact-form

{
	background:rgba(44,62,80,0.7);
    padding: 40px;
    width: 350px;
    margin: auto;
    margin-top: 50px;
    height: 300px;
    margin-left: 180px;
    margin: 0 auto;
   

}
input[type=text],select
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	display: inline-block;
	box-sizing: border-box;
	color: white;
}
input[type=DOB],select
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	display: inline-block;
	box-sizing: border-box;
}
input[type=button]
{
	border: none;
	width: 190px;
	background:white;
	color:black;
	font-size:16px;
	line-height:25px;
	padding: 10px 0;
	border-radius: 25px;
	cursor: pointer;
}
input[type=button]:hover
{
	color: #fff;
	background-color:black;
}
.party-form

{
	background:rgba(44,62,80,0.7);
    padding: 20px;
    margin: 10px;
    margin-top:450;
    height:1030px;
    margin-right: 150px;
    width:200%;
    margin: 8;
    margin-top: 90px;
    margin-left:-150px;
}
